@CHARSET "ISO-8859-1";


/*
    DEFAULT BODY SETTINGS
*/
body {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1em;
    color: #595959;
}

label {
   display: inline-block;
   width: 5em;
 }
 
button.upload{
 	min-width:120px;
 	min-height:60px;
    padding: 7px 10px 7px 10px;
    display: inline-block;
    margin: 20px;
    background-color: #d1eb9c;
 }

button.upload:disabled{
    background-color: #e9cec9;
 }
 
button.upload:disabled img{
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	white-space: nowrap;
 }

button.upload span{
    font-size: 1.2em;
    font-weight: bold;
}


button img{
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    height: 24px; 
    width:24px; 
    vertical-align: middle;
}

button.browse{
 	min-width:130px;
    padding: 2px 5px 2px 5px;
    display: inline-block;
	white-space: nowrap;
}
 
label.checkbox{
    display: inline-block;
	white-space: nowrap;
	color: black;
	font-size: 0.9em;
	
}

label.field{
	display: inline;
	white-space: nowrap;
	color: black;
	font-size: 0.9em;	
	width: 100%;
	
}
 
 input {
 	height:32px
 }

 input.filename:disabled{
 	background:#f5f5f5;
 }
 
 .scrollable {
    overflow-y: auto;
}